.isMain {
  display: flex;
}

.containerBase {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: border 0.3s ease;
}

.containerBase .containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4vh;
  font-size: 2.3vh;
  font-family: "Oswald", sans-serif;
  background-color: black;
  color: white;
}

.containerBase .containerInput {
  width: 100%;
  height: 80%;
  border: none;
  background-color: white;
}

