.main {
  display: flex;
  flex-direction: column;
}

.containerNameType {
  display: flex;
  align-items: center;
  padding-left: 0.8vh;
  font-size: 2.3vh;
  font-family: "Oswald", sans-serif;
  color: white;
  background-color: black;
}

.containerNameInput {
  height: 100%;
  background-color: white;
  border: none;
}

.containerList {
  display: flex;
  height: 30%;
}

.containerOneDefense {
  width: 50%;
  font-size: 2vh;
  font-family: "Oswald", sans-serif;
}

.containerOneDefense .containerName .fakeInput {
  position: absolute;
  left: 13vh;
}

.containerOneDefense .containerName {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 0.8vh;
}

.containerTwoDefense {
  width: 50%;
  font-size: 2vh;
  font-family: "Oswald", sans-serif;
}

.containerTwoDefense .containerName {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.containerTwoDefense .containerName .fakeInput {
  position: absolute;
  left: 13vh;
}
