.main {
  display: flex;
}

.containerBase {
  position: relative;
  width: 90%;
  height: 100%;
}

.containerText {
  display: flex;
  align-items: center;
  padding-left: 0.8vh;
  font-size: 2.5vh;
  height: 3.5vh;
  font-family: "Oswald", sans-serif;
  color: white;
  background-color: black;
}

.containerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  border: 1px solid black;
  width: 100%;
  min-height: 80%;

}

.containerSelector{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.containerSelectedCategory{
  text-align: center;
  min-width: 50px;
}

.containerContent .dynamicItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
}

.dynamicItem .containerSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  animation: fadeIn 0.3s forwards;
}

.containerSpan span {
  font-size: 20px;
}

.dynamicItem .containerName {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.containerName input {
  width: 90%;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  border: none;
}

.containerName input:focus {
  border: none;
  outline: none;
}

.dynamicItem .containerInput {
  position: absolute;
  left: 155px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
  height: 100%;
}

.dynamicItem .containerInput input {
  text-align: center;
  height: 80%;
  width: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}

.containerIcon {
  height: 100%;
  width: 10%;
  background-color: transparent;
}

.containerIcon .containerSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.containerIcon .containerSpan:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.resize {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  user-select: none;
}

.resize span {
  font-size: 15px;
}
