.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.containerNameType {
  display: flex;
  align-items: center;
  padding-left: 0.8vh;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  color: white;
  background-color: black;
}

.containerNameInput {
background-color: white;
}

.containerNameInput .containerInitiative {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  color: black;
}

.containerInitiative input {
  border: none;
  width: 12%;
  height: 90%;
  font-family: "Oswald", sans-serif;
  margin-left: 5px;
  background-color: transparent;
}

.containerInitiative input:focus {
  border: none;
  outline: none;
}

.containerButtonAddNew {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  margin-top: 5px;
}

.containerButtonAddNew .containerSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 12%;
  border-radius: 50%;
  background-color: black;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
}
.containerSpan:hover {
  transform: scale(1.2);
}

.containerSpan span {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
